.flex-table .row {
	width: 90%;
	min-height: 200px;
	background-color: yellow;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
 .col-white {
	width: 100px;
	height: 100px;
	background-color: white;
}